# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Env files
.env
.env.*

# Firebase keys
serviceAccountKey.json
scripts/serviceAccountKey.json

# Netlify functions secrets
netlify/functions/*.env

# Ignore metadata
metadata.json

# Ignore backups
*.bak

# Ignore coverage
coverage/

# Ignore test output
*.test-results.json

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local Netlify folder
.netlify
